# Bonus: Temperature Analysis I

In [53]:
import pandas as pd
from datetime import datetime as dt

In [54]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [60]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df['month'] = pd.DatetimeIndex(df['date']).month

In [61]:
# Set the date column as the DataFrame index
df =df.set_index('date')
df

                station  prcp  tobs  month
date
2010-01-01  USC00519397  0.08    65      1
2010-01-02  USC00519397  0.00    63      1
2010-01-03  USC00519397  0.00    74      1
2010-01-04  USC00519397  0.00    76      1
2010-01-06  USC00519397   NaN    73      1
...                 ...   ...   ...    ...
2017-08-19  USC00516128  0.09    71      8
2017-08-20  USC00516128   NaN    78      8
2017-08-21  USC00516128  0.56    76      8
2017-08-22  USC00516128  0.50    76      8
2017-08-23  USC00516128  0.45    76      8

[19550 rows x 4 columns]

In [ ]:
# Identify the average temperature in June at all stations across all available years in the dataset. Do the same for December temperature.

# Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

### Compare June and December data across all years

In [44]:
from scipy import stats

In [66]:
# Filter data for desired months
june = df[df['month'] == 6]
dec = df[df['month'] == 12]

In [70]:
# Identify the average temperature for June
june_avg = round(june['tobs'].mean(),2)
june_avg

74.94

In [69]:
# Identify the average temperature for December
dec_avg = round(dec['tobs'].mean(),2)
dec_avg

71.04

In [77]:
# Create collections of temperature data
june_temp = june['tobs'].to_list()
dec_temp = dec['tobs'].to_list()

### Analysis

In [80]:
# Run paired t-test
stats.ttest_ind(june_temp, dec_temp, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

##### => since p - value is bigger than 0.05 the relationship between june and december is not significant. Therefore, I will use an unparied t-test.

A paired t-test (also known as a dependent or correlated t-test) is a statistical test that compares the averages/means and standard deviations of two related groups to determine if there is a significant difference between the two groups.

●       A significant difference occurs when the differences between groups are unlikely to be due to sampling error or chance.

●       The groups can be related by being the same group of people, the same item, or being subjected to the same conditions.

Paired t-tests are considered more powerful than unpaired t-tests because using the same participants or item eliminates variation between the samples that could be caused by anything other than what’s being tested.

An unpaired t-test (also known as an independent t-test) is a statistical procedure that compares the averages/means of two independent or unrelated groups to determine if there is a significant difference between the two.